* {
  box-sizing: border-box;
}
body {
  background: #b3dbe8;

}

#narrative {
    background: #78AB46;
    margin: 20px;
    padding: 20px;
}

#wrapper {
  max-width: 900px;
  margin: auto;
}

p {
  color: #fff;
  font-family: 'Source Sans Pro', Helvetica, Calibri, sans-serif;
}

#wrapper > p {
  margin: 10px;
  padding-left: 10px;
}

h1 {
  background: #b3dbe8;
  color: #F2473f;
  font-family: 'Source Sans Pro', Helvetica, Calibri, sans-serif;
  padding: 20px;

}
h3{
  color: #FFF;
  font-family: 'Source Sans Pro', Helvetica, Calibri, sans-serif;
  padding-left: 20px;
}

#container {
  margin: auto;
  padding: 20px;
  width:100%;
  height:400px;
}

#container2 {
  margin: auto;
  padding: 20px;
  width:100%;
  height:400px;
}


@media(max-width: 750px) {
  #narrative {margin: 0;}

}
